@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;	
	margin: 0;
	padding: 0;
	box-sizing: border-box
		/* background: red; */
}

.hidden{
	display: none;
}

.container {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 50px 100px;
}

.start-game {
	cursor: pointer;
	border: 1px solid #000;
	box-sizing: border-box;
	padding: 80px 50px;
	border-radius: 100%;
	background: #fff;
}

.start-game:hover {
	transform: scale(1.1);
	transition: .2s linear;
}

.pregunta {
	text-align: center;
	font-size: 1.9rem;
	font-weight: 600;
	color: #fff;
}

.container-timer {
	text-align: center;
}

.container-timer>h3 {
	margin-top: 30px;
}

.container-respuestas {
	display: flex;
	justify-content: space-between;
	margin: 5% auto 0 auto;
	width: 80%;
	align-items: center;
}

.respuestas {
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	visibility: hidden;
	text-align: center;
}

.respuestas>p {
	border: 2px solid #fff;
	border-radius: 10px;
	padding: 15px 35px;
	cursor: pointer;
	color: #fff;
	font-weight: 600;
}

.respuestas>p:hover {
	transform: scale(1.2);
	transition: transform .3s ease-out;
}

.container-velocidad {
	width: auto;
	margin: 0 auto;
}

.velocidad {
	width: 100%;
	margin: 100px auto;
	font-size: 2rem;
	text-align: center;
}

.bonus {
	width: 100px;
	/* height: 100px; */
	/* background: red; */
	position: absolute;
	bottom: 20px;
	left: 0;
	animation: girar 1s linear infinite,
		aumentarTamaño 5s linear;
}

.bonus img {
	width: 100%;
	vertical-align: top;
}

.explotion {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 600px;
	height: 200px;
	margin-top: 30px;
	display: none;
}

.explotion img {
	width: 100%;
	vertical-align: top;
}

.growScale {
	animation: growScale 1s linear;
}

.container-timer {
	display: none;
	align-items: center;
	justify-content: center;
	position: relative;
	/* background:red; */
}

.timer {
	width: 5em;
	height: 5em;
	display: flex;
	align-items: center;
	justify-content: center;
	border: .5em solid #fff;
	border-radius: 100%;
	position: relative;
	z-index: 100;
}

.warning-clock{
	animation: temblarClock 1s ease-in-out infinite; 
}

.danger-clock{
	animation: temblarClock .5s ease-in-out infinite; 
}

.timer:before,
.timer:after {
	content: '';
	display: block;
	z-index: 100;
	position: absolute;
}

.timer:before {
	height: .5em;
	width: .5em;
	top: -1.6em;
	border-radius: 100%;
	left: 50%;
	z-index: 100;
	margin-left: -.75em;
	/* animation: changeColor 10s; */
	border: .5em solid #fff;
}

.timer:after {
	width: 1em;
	z-index: 100;
	height: 1em;
	background: #fff;
	right: 0;
	top: -.25em;
	border-radius: 100%;
}

.hand {
	/* animation: changeColor 10s; */
	height: 1em;
	width: 1em;
	position: relative;
	display: flex;
	justify-content: center;
	z-index: 100;
	border-radius: 100%;
	border: 1.4em solid #fff;
	/* animation: countdown 20s linear; */
}

.hand:before,
.hand:after {
	content: '';
	display: block;
	position: relative;
}

.hand:before {
	width: .325em;
	height: 1.6em;
	top: -1.4em;
	background: #1BB287;
	transform-origin: 50% 125%;
	/* animation: countdown 20s linear; */
}

.hand:before {
	background: var(--color,  #1BB287);
}

.time {
	position: absolute;
	bottom: -100px;
	left: 0;
	right: 0;
	font-size: 2rem;
	text-align: center;
	color: #fff;
	font-weight: 400;
	/* margin-left: 10px; */
}

.scoreboard {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 10px;
	width: 50px;
	cursor: pointer;
}

.scoreboard img {
	width: 100%;
	vertical-align: top;
}

.preguntas-random:after {
	content: '';
	animation: question-random 20s ease-in-out infinite;
}

.nombre {
	margin: 30px auto;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.nombre input {
	border: none;
	/* border-bottom: 1px solid #000; */
	font-weight: 400;
	padding-top: 10px;
	font-size: 1.6rem;
	text-align: center;
	outline: none;
	padding-bottom: 5px;
	background: transparent;
}

.fill-background {
	position: absolute;
	z-index: -1;
	background: #1BB287;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border-radius: 100%;
	box-sizing: border-box;
	width: 10px;
	height: 10px;
}

.scale-background {
	transform: scale(1000);
	transition: transform .9s ease-in;
	/*transition:  transform .2s; */
	/* animation: fillBackground .2s ease-in;
	animation-fill-mode: forwards; */
}


.preguntas-random {
	text-align: center;
	color: rgb(100, 100, 100);
	font-weight: 400
}

/* ======================= PUNTUACION =============== */
.container-puntuacion{
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: #000;
	font-size: 1.4rem;
	font-weight: 600;
}

.scoreboard-container{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 500px;
	height: 400px;
	background:#fff;
	border-top: 2px solid #000;
	display: none;
}

.scoreboard-container h2{
	text-align: center;
	margin-bottom: 40px;
}

.puntuaciones{
	display: flex;
	justify-content: space-between;
	font-size: 1.5rem;
	font-weight: 600; 
	position: relative;
	overflow: hidden;
}

.puntuaciones span{
	background: #fff;
	position: relative;
	z-index: 10;
}

.puntuaciones span:nth-child(2){
	background: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}

.btn-cerrar{
	border: none;
	background: #000;
	color: #fff;
	font-weight: 600;
	font-size: 1.2rem;
	display: block;
	margin: 50px auto;
	border-radius: 20px;
	padding: 8px 50px;
	cursor: pointer;
	outline: none;
}

.fade-text{
	visibility: visible;
}